<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Computational_Thinking_for_Programming/Construc_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **6-1. if문의 논리적 설계**
___
#### **1.if-elif-else**
(실습) 정수 age를 입력 받아, 0대, 10대, 20대, 30대, 40대 이상으로 분류하는 프로그램을 설계하시오. age가 음수이거나 130보다 크면 '잘못 입력했습니다.'가 출력되도록 한다.

In [25]:
# Solution 1
age = int(input("나이를 입력하시오 : "))

if age < 0 or age > 130:
  print('잘못 입력했습니다.')
elif age< 10:
  print('0대 입니다.')
elif age< 20:
  print('10대 입니다.')
elif age< 30:
  print('20대 입니다.')
elif age< 40:
  print('30대 입니다.')
else:
  print('40대 이상입니다.')

나이를 입력하시오 : 141
잘못 입력했습니다.

In [27]:
# Solution 2
age = int(input())
if age < 0 or age > 130:
  print('잘못 입력했습니다.')
else:
  if age >= 0 and age < 10:
    print('0대 입니다.')
  else:
    if age >= 10 and age < 20:
      print('10대 입니다.')
    else:
      if age >= 20 and age < 30:
        print('20대 입니다.')
      else:
        if age >= 30 and age < 40:
          print('30대 입니다.')
        else:
          print('40대 이상입니다.')

45
40대 이상입니다.

## **6-2. if문의 다중 조건**
___
#### **1.단일 조건**
```python
if conditions(True/False):
  actions
```

In [33]:
if True:
  print(1) 
else:
  print(2) 

# 1 츨력

1

In [32]:
if False:
  print(1)
else:
  print(2)

# 2 츨력

2

#### **2. 다중 조건**

In [28]:
# and
print(False and False)
print(False and True)
print(True and False)
print(True and True)

False
False
False
True

In [29]:
# or
print(False or False)
print(False or True)
print(True or False)
print(True or True)

False
True
True
True

In [31]:
# if문과 and, or
if True and False: # False
  print(1)
if True or False: # True
  print(2)
if True and False or True: # True
  print(3)
if True and True or False: # True
  print(4)
if False or True and False: # False
  print(5)

2
3
4

#### **3. 퀴즈**

##### 1. 정수 반올림
___
- 사용자에게 0 이상의 정수를 입력받아, 1의 자리에서 반올림한 결과를 출력하는 프로그램을 작성하시오.
  - 사용자에게 정수 n을 입력받는다.
  - 사용자가 입력한 값이 음수라면, '잘못 입력했습니다.'가 출력되도록한다.
  - 사용자가 0 이상의 정수를 입력했다면, 1의 자리에서 반올림한 결과를 출력한다.
- 예시 1) 123 입력 시, 120 출력
- 예시 2) 127 입력 시, 130 출력

In [41]:
# My answer
n = int(input())

if n < 0:
  print('잘못 입력했습니다.')
else:
  x = n % 10
  if x == 0:
    print(n)
  elif 0 < x <= 4:
    print(n - x)
  else:
    print(n + (10 - x))

124
120

##### 2. 실수 반올림
___
- 사용자에게 0 이상의 실수를 입력받아, 소수점 아래에서 반올림한 결과를 출력하는 프로그램을 작성하시오.
  - 사용자에게 실수 n을 입력받는다.
  - 사용자가 입력한 값이 음수라면, '잘못 입력했습니다.'가 출력되도록한다.
  - 사용자가 0 이상의 실수를 입력했다면, 소수점 아래에서 반올림한 결과를 출력한다.
- 예시 1) 12.3 입력 시, 12 출력
- 예시 2) 12.7 입력 시, 13 출력

In [45]:
# My answer
n = float(input())

if n < 0:
  print('잘못 입력했습니다.')
else:
  x = n % 1
  if x*10 == 0:
    print(n - x)
  elif 0 < x*10 <= 4:
    print(n - x)
  else:
    print(n + (1 - x))

12.7
13.0

## **6-3. if문 퀴즈 문제 풀이**
___
#### **1.정수 반올림**

In [40]:
# Solution 1
n = int(input())

if n < 0:
  print('잘못 입력했습니다.')
else:
  x = n % 10
  if x == 0:
    print(n)
  elif x == 1:
    print(n-1)
  elif x == 2:
    print(n-2)
  elif x == 3:
    print(n-3)
  elif x == 4:
    print(n-4)
  elif x == 5:
    print(n+5)
  elif x == 6:
    print(n+4)
  elif x == 7:
    print(n+3)
  elif x == 8:
    print(n+2)
  elif x == 9:
    print(n+1)

127
130

In [42]:
# Solution 2
n = int(input())

if n < 0:
  print('잘못 입력했습니다.')
else:
  x = n % 10
  if x < 5:
    print(n -x)
  else:
    print(n + (10 - x))

158
160

#### **2. 실습 반올림**

In [47]:
# Solution 1
# 입력
n = float(input())

# 소수점 부분
x = n - int(n)

if n < 0:
  print('잘못 입력했습니다.')
else:
  if 0 < x < 0.5:
    print(int(n))
  else:
    print(int(n+1))

12.7
13

In [49]:
# Solution 2
n = float(input())
print(int(n + 0.5))

23.4
23