<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Computational_Thinking_for_Programming/list_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **7-1. list**
___
#### **1.list**

In [ ]:
a = 1
b = 2
c = 3
d = 4
e = 5

print(a+b+c+d+e)

15

In [ ]:
x = [1, 2, 3, 4, 5]
print(x[0])

1

In [ ]:
family = ['mother', 'father', 'sister', 'brother']
print(family[1])

father

In [ ]:
x = [1, 2, 3, 4, 5]
print(x[-1])
print(x[-2])

5
4

In [ ]:
x = [1, 2, 3, 4, 5]
x.clear()
print(x)

[]

In [ ]:
x = [1, 2, 3, 4, 5]
x.append(10)
print(x)

[1, 2, 3, 4, 5, 10]

In [ ]:
x = [1, 2, 3, 4, 5]
x.remove(3)
print(x)

[1, 2, 4, 5]

In [ ]:
x = [1, 2, 3, 4, 5]
x.reverse()
print(x)

[5, 4, 3, 2, 1]

In [ ]:
x = [3, 1, 4, 2, 5]
x.sort()
print(x)

[1, 2, 3, 4, 5]

In [ ]:
x = [1, 2, 3, 4, 5]
x[1] = 10
print(x)

[1, 10, 3, 4, 5]

#### **3. Quiz**

##### Example #1
___
1, 2, 3, 4, 5 다섯 개의 정수가 들어있는 list를 구성하고, 
이들의 평균을 계산하여 출력하는 프로그램을 작성하시오.

In [1]:
x = [1, 2, 3, 4, 5]

print((x[0] + x[1] + x[2] + x[3] + x[4])/5)

3.0

In [3]:
x = [1, 2, 3, 4, 5]

print(sum(x)/5)

3.0

##### Example #2
___
사용자에게 다섯 개의 정수를 입력 받아, 이를 list로
구성하고, 이들의 평균을 계산하여 출력하는 프로그램을
작성하시오

In [7]:
x = []

# 빈 리스트에는 인덱스를 지정하여 값을 대입할 수 없어, append()를 써야 한다
x.append(int(input())) 
x.append(int(input()))
x.append(int(input()))
x.append(int(input()))
x.append(int(input()))

print(sum(x)/5)

4
5
3
6
7
5.0

## **7-2. 반복문의 이해**
___
#### **1.list**
- 순차 구조(sequence)
- 조건 구조(condition) : `if`문
- 반복 구조(iteration) : `for`문, `while`문

In [ ]:
# 반복문
x = 0
while x < 10:
  print(x)
  x = x + 1
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

#### **2.for**

In [ ]:
# for 반복문
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i)
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
# range를 활용한 for 반복문
for i in range(0, 10):
  print(i)
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
# 들여쓰기에 따른 결과 차이
for i in range(0, 10):
  print(i)
  print('끝') # 들여쓰기 간격이 똑같아 반복문의 영향을 받는다.

0
끝
1
끝
2
끝
3
끝
4
끝
5
끝
6
끝
7
끝
8
끝
9
끝

#### **3. while**

In [ ]:
# while 반복문
x = 0
while x < 10:
  print(x)
  x = x + 1
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
x = 0
while x < 10:
  print(x)
  x = x + 1
  print('끝')

0
끝
1
끝
2
끝
3
끝
4
끝
5
끝
6
끝
7
끝
8
끝
9
끝

## **7-1. list**
___
#### **1.range**

In [ ]:
for i in range(10): # start를 생략하면 default 값인 0에서 시작
  print(i)
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
for i in range(0, 10): # range(start, end)
  print(i)
print('끝')

0
1
2
3
4
5
6
7
8
9
끝

In [ ]:
# range(start, end, step)
# integer형이어야 한다
for i in range(0, 10, 2): 
  print(i)
print('끝')

0
2
4
6
8
끝

#### **2.for**

In [ ]:
# list를 먼저 만들고 for 반복문 진행하기
menu = ['냉면', '짜장면', '짬뽕', '쌀국수']
for i in menu:
  print(i)

냉면
짜장면
짬뽕
쌀국수

In [ ]:
x = [1, 2, 3, 4, 5]
for i in x:
  print(i)

1
2
3
4
5

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)

1
2
3
4
5

In [ ]:
menu = ['냉면', '짜장면', '짬뽕', '쌀국수']
for i in menu:
  print(i)
print(menu)

냉면
짜장면
짬뽕
쌀국수
['냉면', '짜장면', '짬뽕', '쌀국수']

In [ ]:
x = [1, 2, 3, 4, 5]
for i in x:
  print(i)
print(x)

1
2
3
4
5
[1, 2, 3, 4, 5]

#### **3. 실습**

##### Example #1
___
0이상 100미만의 정수를 모두 출력하는 프로그램을
작성하시오.

In [ ]:
for i in range(0, 100):
  print(i)

##### Example #2
___
0이상 100미만의 정수 중, 홀수만 출력하는
프로그램을 작성하시오.

In [ ]:
for i in range(0, 100):
  if i % 2 != 0: # i % 2 == 1로 해도 됨
    print(i)

In [ ]:
for i in range(1, 100, 2):
  print(i)

##### Example #3
___
1, 2, 3, 4, 5 다섯 개의 정수가 들어있는 list를 구성하고, 
이들의 평균을 계산하여 출력하는 프로그램을 작성하시오.

In [4]:
x = [1, 2, 3, 4, 5]
mysum = 0

for i in range(0, 5, 1): # 시험에서 range 함수 인자 정확히 쓰기
  mysum += x[i]

mymean = mysum/len(x)
print(mymean)

3.0

##### Example #4
___
사용자에게 다섯 개의 정수를 입력 받아, 이를 list로
구성하고, 이들의 평균을 계산하여 출력하는 프로그램을
작성하시오

In [8]:
x = []
mysum = 0

for i in range(0, 5, 1):
  x.append(int(input()))

for i in range(0, 5, 1):
  mysum += x[i]

mymean = mysum/len(x)
print(mymean)

23
45
1
6
3
15.6

#### **4. while문**