<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Computational_Thinking_for_Programming/Representation_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2-1. 데이터의 표현 방법**
___
#### **1.bit와 byte**
- **bit** : 'binary digit(이진수)'의 줄임말로 컴퓨터에서 정보를 나타내는 가장 작은 단위이다. 비트 한 개에 0이나 1이 하나 들어간다.
- (Ex1) if 2 bit : 4가지 데이터를 표현 가능함.
- (Ex2) 그림판의 색상 코드 : R, G, B를 256가지(0~255)로 표현 가능함.
- **8 bit = 1B(byte)**
- **1 KB = 1024 B = 8192(=$2^{13}$) bit**
- **1 MB = 1024 KB = $2^{23}$ bit**

## **2-2. 데이터 타입**
___
#### **1.Data Type의 정의**
- 자료형(Data Tyep) : 데이터를 식별하는 분류
- 자료형을 구분하는 이유? 자료형에 따라 데이터의 크기가 다르기 때문이다.

#### **2.Data Type의 종류**
- bool : boolean의 약자. 논리를 표현할 수 있는 자료형(True/False)
- str : string의 약자. 문자열을 표현할 수 있는 자료형('a'/"Hello word")
- int : integer의 약자. 정수를 표혈할 수 있는 자료형(-3/0/1/128)
- float : 실수를 표현할 수 있는 자료형

#### **3.print 함수**
- print() : 화면에 데이터를 **출력** 하는 함수

#### **4.문자열+문자열**

In [9]:
print('Hello'+'World')

name = 'Dkepffl'
print('내 이름은 ' + name)

HelloWorld
내 이름은 Dkepffl

#### **5. 숫자 + 숫자**

In [11]:
print(1 + 3) 
print(1.0 + 3) # float 형태인 4.0 (Python 3 이상 버전이어야 가능)
print(False + 3)
print(True + 3) 

a = 1
b = 1.0
c = True
print(a+b+c)

4
4.0
3
4
3.0

## **2-3. 데이터 타입 변환**
___
#### **1.input 함수**
- **print()** : 화면에 데이터를 출력하는 함수
- **input()** : 사용자에게 데이터를 입력받는 함수

In [12]:
name = input()
print('내 이름은 ' + name)

Dkepffl
내 이름은 Dkepffl

In [15]:
name = input()
age = input()
print('나는 ' + age + '살 ' + name)

아델리펭귄
23
나는 23살 아델리펭귄

In [19]:
a = input() 
b = input()
print(a + b) # a=12, b=34 >>> 1234

34
56
3456


#### **2.자료형 변환**
- int()
- float()
- str()
- bool()

In [20]:
x = input("정수를 입력하세요 : ")
y = input("정수를 입력하세요 : ")
a = int(x) # 문자열을 정수로 변환
b = int(y)
print(a + b)

정수를 입력하세요 : 3
정수를 입력하세요 : 10
13


#### **3.자료형 확인 함수**
- type()

In [22]:
print(type(1 + 3))
print(type(1 + 3.3))
print(type(1.8 + 3.2))
print(type('1 + 3'))
print(type("1 + 3"))
print(type(False))
print(type(True))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>