<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Computational_Thinking_for_Programming/study_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **10-1. 함수의 이해**
___
#### **1.함수(function)**
- 함수 : **변수 x와 y 사이에 x의 값이 정해지면 따라서 y값이 정해진다는 관계**가 있을 때, y는 x의 함수라고 한다.
- example : `print()`, `input()`, `max()`, `min()`,`sum()` 등

In [1]:
x = 1.2
y = 5
# 출력 함수
print(x+y)

6.2

In [3]:
# y가 없어도 입력값이 어떤 작용을 통해 결과값을 나오면 함수
x = [1, 3, 5, 7, 9]
print(max(x))

9

In [4]:
# 함수 실습
def washing(a):
  print('물넣기')
  for i in range(a):
    print('돌리기')
  print('물빼기')

def rinsing(b):
  for i in range(b):
    print('물넣기')
    print('돌리기')
    print('물빼기')

def dehydration(c):
  for i in range(c):
    print('돌리기')

In [14]:
def do_laundary(a, b, c):
  washing(a)
  rinsing(b)
  dehydration(c)
  print('\n빨래 끝~~!!')

In [15]:
do_laundary(4,1,1)

물넣기
돌리기
돌리기
돌리기
돌리기
물빼기
물넣기
돌리기
물빼기
돌리기

빨래 끝~~!!

#### **2.함수의 종류**
- 내장 함수(built-in function) : 이미 파이썬에 자체적으로 정의되어 있는 함수
- 모듈 함수(module function) : 외부 모듈에 정의되어 있는 함수로 모듈을 import해야 사용 가능하다.
- 사용자 정의 함수(user-defined function) : 사용자가 새롭게 정의해서 사용하는 함수.

In [16]:
# 이름은 function
# 숫자 n을 입력받아, n번 만큼 'Hello World'를 출력하는 함수
def function1(n):
  for i in range(n):
    print('Hello World')

function1(3)

Hello World
Hello World
Hello World

#### **3.함수의 이름**
- 대소문자를 구분한다
- 공백이 허용되지 않는다
- 특수 기호를 사용할 수 없다('_'는 사용 가능)
- 숫자로 시작할 수 없다
- 한글을 허용한다(python에서만)
- 다른 함수의 이름과 중복되지 않게 한다
- 의미를 담아 이름 짓는 것이 좋다

#### **4.함수의 동작**

## **10-2. 함수의 설계**
___
#### **1.함수의 return**

In [59]:
# 좋지 않은 예시 : return 값이 없음
def add(a, b):
  print(a + b) 

add(1, 3)

4

In [49]:
def add(a, b):
  return a + b

# 간소화가 안 된 예시
c = add(1, 3)
print(c)

4

In [52]:
def add(a, b):
  return a + b
  
print(add(1, 3))

4

In [65]:
def add_mul(a, b):
  add_result = a + b
  mul_result = a * b
  return add_result # 여기까지만 출력됨
  return mul_result # 쓸모없는 코드가 됨

a = 2
b = 5
x = add_mul(a, b)
print(x)

7

In [64]:
def add_mul(a, b):
  add_result = a + b
  mul_result = a * b
  return add_result, mul_result

a = 2
b = 5
x = add_mul(a, b) # tuple 형태의 값
print(x)

(7, 10)

In [71]:
def add_mul(a, b):
  add_result = a + b
  mul_result = a * b
  return add_result, mul_result

a = 2
b = 5

x, y = add_mul(a, b)
print(x, y)

7 10

#### **2. 실습**

In [72]:
# Quiz1
def function(a, b):
  if a > b:
    return a
  elif a < b:
    return b
  return a

print(function(1, 3))
print(function(3, 1))
print(function(1, 1))

3
3
1

In [74]:
# Quiz2
def swap(a, b):
  return b, a

a = 3
b = 4
a, b = swap(a, b)
print(a, b)

4 3

#### **3. 지역 변수**
- 함수 내에서 생성하여, 함수 내에서만 존재하며 사용 가능한 변수를 지역 변수(local variable)라고 한다.
- 함수를 벗어나면 자동으로 소멸하여 사용이 불가능하다.
- 서로 다른 함수에서 같은 이름의 변수를 사용하더라도 함수를 벗어나면 소멸되기 때문에 서로 영향을 주지 않는다.

In [76]:
def func():
  a1 = 1
func()
print(a1) # 지역 변수라 Error 발생

NameError: ignored

In [79]:
def swap(a, b):
  a, b = b, a
a = 3
b = 4
swap(a, b)
print(a, b)

3 4

## **10-3. 함수의 활용**
___
#### **1.실습**

##### **[Quiz 1]**
숫자로 이루어진 리스트를 전달 받아, 이 숫자들의 평균을 구하여 반환하는 함수를 정의하시오.

In [82]:
def compute_mean(MyList):
  return sum(MyList)/len(MyList)

In [83]:
x = [2, 3, 4, 52, 45, 20]
compute_mean(x)

21.0

##### **[Quiz 2]**
이름을 전달 받아, 'Hello + 이름 ' 형태로 출력하는 함수를 정의하시오.(예를 들어, '이화연'이 전달되었다면, 'Hello 이화연'이 출력된다.

In [25]:
def print_name(MyName):
  print('Hello ' + MyName)

In [26]:
print_name('김화연')

Hello 김화연

##### **[Quiz 3]**
정수를 전달 받아, 이 정수의 약수들이 담긴 리스트를 반환
하는 함수를 정의하시오

In [34]:
def compute_divisior(n):
  x = []
  for i in range(1, n+1):
    if n % i == 0:
      x.append(i)
    i += 1
  return x

In [87]:
print(compute_divisior(17))

[1, 17]

##### **[Quiz 4]**
두 개의 정수를 전달 받아, 이들의 최대 공약수를 찾아 반환
하는 함수를 정의하시오

In [91]:
def compute_gcd1(x, y):
  gcd = 0
  for i in range(1, min(x,y)+1):
    if (x % i == 0) & (y % i == 0):
      if gcd < i:
        gcd = i
  return gcd

In [92]:
print(compute_gcd1(36,12))

12