<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Computational_Thinking_for_Programming/variable_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **3-1. 상수, 변수, 함수**
___
1. **상수(Constant)** :  변하지 않고 항상 같은 값을 가지는 수 ex) 1.2, 5
2. **변수(Variable)** :  값이 특정지어지지 않아 임의의 값을 가질 수 있는 문자 ex) x, y
3. **함수(Function)** :  변수 x와 y 사이에 x의 값에 따라서 y 값이 정해진다는 관계가 있을 때, y는 x의 함수라고 함. ex) print()
```python
x = 1.2
y = 5
print(x*y)
```
4. **대입 연산자(=)** : 컴퓨터 프로그래밍에서의 등호는 '같다'라는 의미가 아닌 대입 연산자이다. '같다'라는 의미의 기호는 **==** 이다.

In [2]:
x == 1.2 # NameError: name 'x' is not defined

NameError: ignored

In [4]:
x = 1.2 # x에 1.2를 대입.
x == 1.2 # True

True

In [5]:
x = 1.2
y = 5
x = 0.5
print(x*y)

2.5

5. 변수의 이름
  - 대소문자를 구분한다.
  - 공백이 허용되지 않는다.
  - '_'를 제외한 특수 기호를 사용할 수 없다.
  - 숫자로 시작할 수 없다.
  - 한글을 허용한다.(Only in Python. 예를 들어, R과 Android에서는 문제가 생김)
  - 기존의 함수 이름과 중복되지 않게 한다. 
  - 의미를 담아 이름 짓는 것이 좋다.(데이터베이스를 구성할 때 편하다)

## **3-2. 변수를 사용한 연산**
___
1. **문자열 + 숫자**

In [9]:
# str + str
name = input()
age = input()
print('나는 ' + age + '살 ' + name)

아델리펭귄
77
나는 77살 아델리펭귄

In [10]:
# str + int
print('이름을 입력하세요')
name = input()
print('나이를 입력하세요')
age = input() - 1 # input으로 받은 값의 datatype은 str이기 때문에 숫자 연산을 할 수 없다.
print('나는 ' + age + '살 ' + name + '입니다.')

이름을 입력하세요
아델리펭귄
나이를 입력하세요
77

TypeError: ignored

In [14]:
# 수정 버전1
print('이름을 입력하세요')
name = input()
print('나이를 입력하세요')
age = int(input()) - 1 # string형을 int형으로 변환
print('나는 ' + age + '살 ' + name + '입니다.') # TypeError: can only concatenate str (not "int") to str

이름을 입력하세요
아델리펭귄
나이를 입력하세요
77

TypeError: ignored

In [18]:
# 수정 버전2
print('이름을 입력하세요')
name = input()
print('나이를 입력하세요')
age = int(input()) - 1 
print('나는 ' + str(age)+ '살 ' + name + '입니다.') # age를 string형으로 변환

이름을 입력하세요
아델리펭귄
나이를 입력하세요
77
나는 76살 아델리펭귄입니다.

2. **변수를 사용한 연산**

In [19]:
x = 1
y = 2.5
print(x, y)

1 2.5

In [20]:
x = 3
y = 4
print(x, y)

3 4

In [22]:
x = 1
y = 2.5
x = y = 3 # y에 3을 대입하고, 그 y를 x에 대입
print(x + y)

6

3. **주석(comment)** : 진짜 중요함
  - '#' 뒤에 있는 코드는 실행되지 않는다.
  - 주석을 이용하여 코드에 직접 설명을 달 수 있다.
  - 아래와 같이 작은 따옴표나 큰 따옴표를 이용하여 주석을 여러 줄 작성할 수 있다.
  ```python
  '''
  이 사이에 있는 코드들도 실행되지 않는다.
  여러 줄을 주석처리할 때 유용하다.
  큰 따옴표를 사용해도 결과는 같다.
  '''
  ```

4. IDLE에서 Script 모드 실행
  - IDLE을 실행했을 때, 기본적으로 interactive mode임
  - File > new File 을 누르면 'untitled'이라는 script mode 파일이 생성됨
  - script mode 에서는 Run > Run module을 선택해야 함

## **3-3. 상수, 변수, 함수 실습**
___

In [26]:
x = 12
y = 4

print(x / y) # float형 : '정수/정수 = 실수'이기 때문에, float형으로 나옴.
print(x * y) # int형 : int형 간의 연산은 기본적으로 int형임

3.0
48

In [25]:
x = 1
print(type(x),x)
x = 1.5
print(type(x),x)
x = '1.8'
print(type(x),x)
x = True
print(type(x),x)

<class 'int'> 1
<class 'float'> 1.5
<class 'str'> 1.8
<class 'bool'> True

In [28]:
print('실수를 입력하세요.')
x = input()
print(type(x), x)
x = float(x)
print(type(x), x)
x = int(x)
print(type(x), x)

실수를 입력하세요.
2.45
<class 'str'> 2.45
<class 'float'> 2.45
<class 'int'> 2