<a href="https://colab.research.google.com/github/Dkepffl/2022-1-Lecture_Note/blob/main/Statistical_Methods_for_Big_Data_Analysis/Assignment/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

### Problem 1. 정수를 입력받은 후 1부터 입력받은 정수까지 짝수들의 합을 구하는 코드를 작성하고. 결과를 출력하시오.
- 입력값으로 27을 넣은 후 결과값을 첨부할 것.
- for문과 if문을 이용할 것

In [1]:
num = int(input("정수를 입력하시오 : "))
sum = 0

for i in range(num+1):
  if i % 2 == 0:
    sum += i

print(sum)

정수를 입력하시오 : 27
182

### Problem 2. (a) ~ (e) 문제에 답하시오

(a) 1부터 20까지 10개의 정수(난수)를 생성하시오. (random seed : 1886)
(Hint : array를 list로 바꾸는 code는 list_name.tolist() 이다. )

In [10]:
np.random.seed(1886)
randarr = np.random.randint(1,21, size = 10)
list_a = randarr.tolist()
print(list_a )

[7, 14, 20, 2, 10, 5, 5, 4, 11, 4]

(b) (a)의 list(혹은 array)에서 첫번째부터 다섯번째까지의 원소를 출력하시오.

In [11]:
print(list_a[0:5])

[7, 14, 20, 2, 10]

(c) 다음 결과를 출력하도록 하는 Indexing code를 작성하시오.
```python
Out[2] : [14,10, 5]
```

In [52]:
list_c = randarr[[1,4,5]].tolist()
print(list_c)

[14, 10, 5]

(d) 다음 결과를 출력하도록 하는 Indexing code를 작성하시오.
```python
Out[3] : [5, 5, 10, 2, 14, 7]

```

In [78]:
list_d = randarr[::-1]
list_d = list_d[[3,4,5,6,8,9]].tolist()
print(list_d)

[5, 5, 10, 2, 14, 7]

(e) 다음 결과를 출력하도록 하는 Indexing code를 작성하시오
```python
Out[3] : [7, 4]
```

In [63]:
list_e = randarr[[0,-1]].tolist()
print(list_e)

[7, 4]

### Problem 3. (a) ~ (f) 문제에 답하시오

(a) 1 부터 20 사이의 정수에서 난수를 생성하여 데이터 프레임을 만드시오. (random seed : 22)
- size = (5,6) 으로 지정
- colname = [‘col1’, ‘col2’, …, ‘col6’] 으로 지정
- index = [‘row1’, ‘row2’, …, ‘row5’] 으로 지정

In [83]:
np.random.seed(22)
arr1 = np.random.randint(1,21, size = 30)
arr1 = arr1.reshape(5,6)
df_1 = pd.DataFrame(arr1, columns = ['col1', 'col2','col3','col4','col5','col6'], index = ['row1', 'row2', 'row3', 'row4', 'row5'])
df_1

      col1  col2  col3  col4  col5  col6
row1     5    13     1     5     7    12
row2     9     5    19    15    14     8
row3     3    10     9     9     6    16
row4     3    19    18     7    20    20
row5     3     8     8    15    11    10

(b) (a)에서 만든 데이터 프레임에서 마지막 3줄을 출력하시오

In [85]:
print(df_1.tail(3))

      col1  col2  col3  col4  col5  col6
row3     3    10     9     9     6    16
row4     3    19    18     7    20    20
row5     3     8     8    15    11    10

(c) row2와 row3만을 출력하시오

In [88]:
print(df_1.loc[['row2', 'row3']])

      col1  col2  col3  col4  col5  col6
row2     9     5    19    15    14     8
row3     3    10     9     9     6    16

(d) col4와 col5를 출력하시오

(e) row3 그리고 col6에 해당하는 데이터를 추출하시오

In [93]:
print(df_1.loc['row3','col6'])

16

(f) col1의 데이터가 5보다 큰 데이터 중에서 col2와 col3만을 추출하시오

In [101]:
print(df_1.loc[df_1['col1']>5,['col2','col3']])

      col2  col3
row2     5    19

### Problem 4. (a) ~ (c) 문제에 답하시오

(a) 다음 인터넷 주소에서 데이터를 불러오시오.
- 데이터 주소 : https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv

(b) Survived가 0인 데이터를 추출한 후 처음 4줄만 출력하시오.

(c) Paddengerl가 5 이상이고 Pclass가 3인 데이터를 추출한 후 마지막 4줄만 출력하시오

### Problem 5. (a) ~ (d) 문제에 답하시오.

(a) 입력된 list에서 홀수인 원소만 빼내는 함수를 만드시오.
- 함수 이름은 ‘myodd’로 지정할 것.
- for문과 if문을 이용할 것

(b) (a)에서 만든 함수를 mymodule이라는 이름의 .py로 저장하시오

(c) 1부터 100까지 정수 중에서 20개의 난수를 발생하여 list(혹은 array)를 만드시오. 
(random seed : 777)

(d) 저장된 mymodule에서 정의된 함수를 이용해서 (c)의 list(혹은 array)에서 홀수인 원소들의
평균을 구하는 example code를 작성하시오